
<h2>Admin List</h2>
<table class ="table table-striped">
    <thead>
    <tr>
        <th>First Name </th>
        <th>Last Name</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
</thead> 
<tbody>
    <tr *ngFor ="let admin of admins" >
        <td>{{admin.firstname}}</td>
        <td>{{admin.lastname}}</td>
        <td>{{admin.contact}}</td>
        <td>{{admin.email}}</td>
        <td>{{admin.password}}</td>
        <td>{{admin.role}}</td>
    </tr>
</tbody>
</table>
