<p>update-booking works!</p>
<div class="col-md-6 offset-md-3">
    <h3> Update Booking</h3>
    <form (ngSubmit)=" onSubmit()">
    <div class="form-group">
        <label>Passenger Name</label>
        <input type="text" class="form-control" id="pname" 
             [(ngModel)] = "booking.pname" name ="pname">
    
    </div>
    <div class="form-group">
        <label>Destination</label>
        <input type="text" class="form-control" id="destination" 
             [(ngModel)] = "booking.destination" name ="destination">
    
    </div>
    <div class="form-group">
        <label>Total Seats</label>
        <input type="number" class="form-control" id="totalseats" 
             [(ngModel)] = "booking.totalseats" name ="totalseats">
    
    </div>
    <div class="form-group">
        <label>Seatno</label>
        <input type="number" class="form-control" id="seatno" 
             [(ngModel)] = "booking.seatno" name ="seatno">
    
    </div>
    <div class="form-group">
        <label>Booking Date</label>
        <input type="date" class="form-control" id="bdate" 
             [(ngModel)] = "booking.bdate" name ="bdate">
    
    </div>
    <div class="form-group">
        <label>Payment Status</label>
        <input type="text" class="form-control" id="payment_status" 
             [(ngModel)] = "booking.payment_status" name ="payment_status">
    
    </div>
    <button class="btn btn-success" type="submit"> Submit </button>
    </form>
    </div>
